Proactive and goal-oriented Computer Engineering student with strong communication skills and a solid foundation 
in technical and software development. I have gained hands-on engineering experience through both academic projects 
and professional roles, including my time as an Engineering Intern at Indus Automation and as a Web Developer & Analyst 
at Manitoba Municipal Relations. Passionate about leveraging my expertise in IoT, Full-Stack Development, AWS, VBA Macros,
and Design Solution Programming to develop innovative and efficient solutions for real-world challenges. 

---

💼 **Currently**:  
- Computer Engineering Co-op Student at UoM Graduating May 2025
- Engineering Project Coordinator Co-op Student at **New Flyer**    

---