<div class="projects-section">

    <div class="project-card">
        <h3>PLC IoT App</h3>
        <p>Designed and implemented a smartphone application to remotely interface with, control
            setpoints, and manage outputs of a programmable logic controller using S71200/1500
            PLC, AWS Services, and a cross-platform application.</p>

        <!-- Video Placeholder -->
        <div class="video-placeholder">
            <img src="assets/projects/indusIoTApp/indusIoTApp.jpg" alt="PLC IoT App">
        </div>

        <!-- Links -->
        <a href="" class="btn" target="_blank">▶Demo Soon</a>
    </div>

    <div class="project-card">
        <h3>IoT-Based River Depth Monitoring</h3>
        <p>Designed and implemented an IoT-based Lake/River Depth Measurement and Monitoring System with sonar technology and cloud
            integration for real-time depth monitoring, GPS navigation, path mapping, and ML model for hazard differentiation.</p>

        <!-- Video Placeholder -->
        <div class="video-placeholder">
            <img src="assets/projects/depthMonitoring/depthMonitoring.jpg" alt="IoT-Based River Depth Monitoring">
        </div>

        <!-- Links -->
        <a href="https://1024terabox.com/s/1i85eR_AVTswdY9h1XYKL8Q" class="btn" target="_blank">▶Demo</a>
        <a href="https://1024terabox.com/s/1c7hKUZ4ijRSGcjjZ41XkjQ" class="btn" target="_blank">Testing Video 01</a>
        <a href="https://1024terabox.com/s/1qe8N62tctoDZj5sAONOpLg" class="btn" target="_blank">Testing Video 02</a>
        <a href="assets/projects/depthMonitoring/G09_FinalReport.pdf" class="btn" target="_blank">▶Final Project Report</a>

    </div>

    <div class="project-card">
        <h3>Full-Stack Career Platform</h3>
        <p>CareerSphere is a user-friendly platform connecting job seekers and employers through personalized job recommendations, custom quizzes, role-based access control, and streamlined applicant management, fostering efficient hiring and collaboration using MERN Stack, CI/CD pipelines, Docker containerization, security analysis, and load testing.</p>

        <!-- Video Placeholder -->
        <div class="video-placeholder">
            <img src="assets/projects/careerSphere/CareerSphere.png" alt="Full-Stack Career Platform">
        </div>

        <!-- Links -->
        <a href="https://1024terabox.com/s/18CQ7fGzQfKydaOoBVjT2aQ" class="btn" target="_blank">▶Demo</a>
    </div>

    <div class="project-card">
        <h3>Broom Buddy</h3>
        <p>Engineered a technology solution for deaf curlers consisting of a single handheld controller and a broom-mountable 
            LED ring to convey sweeping instructions using ESP-Now, power-saving modes, and a 12-bit ADC.</p>

        <div class="video-placeholder">
            <img src="assets/projects/broomBuddy/Handheld Remote-imageonline.co-merged.jpg" alt="Broom Buddy">
        </div>

        <!-- Links -->
        <a href="assets/projects/broomBuddy/Broom Buddy - Demonstartion.mp4" class="btn" target="_blank">▶ Watch Demo</a>
    </div>

    <div class="project-card">
        <h3>Urban Tech App</h3>
        <p>
            Developed a user-friendly online store and static website with features like scrolling interface, 
            specifications, cart functionality, checkout process, account management, product recommendations, 
            and category views.
        </p>
    
        <div class="video-placeholder">
            <img src="assets/projects/urbanTech/App Categories.png" alt="Urban Tech Categories">
        </div>
    
        <!-- Links -->
        <a href="https://sukhmeet468.github.io/UrbanTechWebsite/" class="btn" target="_blank">▶ Urban Tech Demo Static Website</a>
    </div>          

    <div class="project-card">
        <h3>Stopwatch</h3>
        <p>Designed and implemented using DE-10 boards, FGPAs, and Verilog.</p>
        <div class="video-placeholder">
            <img src="assets/projects/stopwatch/stopwatch.jpg" alt="Stopwatch">
        </div>
    </div> 

    <div class="project-card">
        <h3>MusicOSet</h3>
        <p>
            Designed and implemented a database encapsulating albums, artists, and
            songs, and created a front-end command-line interface for database access and usage.
        </p>
    
        <div class="video-placeholder">
            <img src="assets/projects/musicOset/Help Menu.png" alt="Urban Tech Categories">
        </div>
    
        <!-- Links -->
        <a href="assets/projects/musicOset/Team09_Final Project Report_COMP3380.pdf" class="btn" target="_blank">▶View DB Project Report</a>
    </div> 

    <div class="project-card">
        <h3>MusicOSet</h3>
        <p>
            Designed and implemented a database encapsulating albums, artists, and
            songs, and created a front-end command-line interface for database access and usage.
        </p>
        <!-- Links -->
        <a href="assets/projects/legacySoftware/SukhmeetSinghHora_7884859_COMP3350_ASSIGNMENT.pdf" class="btn" target="_blank">Legacy Software AntennaPod Enhancement Report</a>
    </div> 
</div>
